$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 21px;

$color-primary: #00a2e2;
$color-secondary: #000000;
$color-white: #fff;
$color-success: #73a24e;
$color-danger: #bb2124;
$color-grey: #bbbbbb;

$border-radius-small: 5px;
$border-radius: 12px;
$border-radius-circle: 50px;
